@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Light";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Light"), url("./abcsans-light.woff") format("woff");
}
:root {
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #1C1C1C;
  font-size: 1em;
}
body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  opacity: 0;
}
h1, p {
  margin: 0;
}
#header h1 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}
#header p {
  font-size: .9rem;
  padding-bottom: 1rem;
}
.row {
  position: absolute;
  width: 0%;
  background-color: #f2f2f2;
  font-size: .65rem;
  display: flex;
}
.row:last-child {
  margin-bottom: 0px;
}
.stub {
  height: 100%;
  width: 145px;
  margin-right: 3px;
  padding-right: 5px;
  text-align: right;
  opacity: 0;
  color: white;
  overflow: hidden;
}
.stub span {
  font-family: "ABCSans Light", "Arial Narrow", sans-serif;
}
.bar {
  height: 100%;
  width: 0px;
}
.barLabel {
  padding: 0 .5rem;
  opacity: 0;
}
.barLabel.inside {
  color: white;
  text-align: right;
}
#footer {
  padding: .5rem 0;
  font-size: .8rem;
}
a {
  text-decoration: none;
  color: #009CBF;
}
a:hover {
  color: #F75F00;
}
#quota {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  opacity: 0;
}
#quota text {
  fill: rgba(28, 28, 28, .75);
  font-size: .65rem;
  text-anchor: middle;
}
#quota text:first-child {
  fill: #1C1C1C;
  font-size: .7rem;
  font-weight: bold;
}
#quota line {
  stroke: rgba(28, 28, 28, .75);
  stroke-width: .5;
  stroke-dasharray: 2 2;
}
@media (max-width: 500px) {
  .row {
    height: 24px;
    font-size: .9rem;
    line-height: 1.5rem;
  }
}
